In [131]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("vikasojha98/top-women-chess-players")

print("Path to dataset files:", path)

Path to dataset files: /Users/jeongho/.cache/kagglehub/datasets/vikasojha98/top-women-chess-players/versions/1

In [132]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import os

from sklearn.preprocessing import *
from sklearn.model_selection import train_test_split

from sklearn.linear_model import LogisticRegression


df = pd.read_csv(os.path.join(path, "top_women_chess_players_aug_2020.csv"))

In [133]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8553 entries, 0 to 8552
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Fide id          8553 non-null   int64
 1   Name             8553 non-null   object
 2   Federation       8553 non-null   object
 3   Gender           8553 non-null   object
 4   Year_of_birth    8261 non-null   float64
 5   Title            3118 non-null   object
 6   Standard_Rating  8553 non-null   int64
 7   Rapid_rating     3608 non-null   float64
 8   Blitz_rating     3472 non-null   float64
 9   Inactive_flag    5852 non-null   object
dtypes: float64(3), int64(2), object(5)
memory usage: 668.3+ KB

In [134]:
encoder = LabelEncoder()


def preprocess_df(df):
    df = df.drop(["Fide id", "Name", "Gender", "Federation"], axis=1).copy()

    numeric_df = df.select_dtypes(np.number)
    numeric_cols = numeric_df.columns

    for col in numeric_cols:
        df[col] = df[col].fillna(df[col].mean())

    df["Inactive_flag"] = df["Inactive_flag"].fillna("wa").copy()

    title_dummies = pd.get_dummies(df["Title"], dtype=int).copy()

    df = pd.concat([df, title_dummies["GM"]], axis=1)
    df = df.drop(["Title"], axis=1)

    df["Inactive_flag"] = encoder.fit_transform(df["Inactive_flag"])
    mappings = {label: index for index, label in enumerate(encoder.classes_)}

    print(mappings)

    y = df["GM"].copy()
    X = df.drop(["GM"], axis=1).copy()

    scaler = MinMaxScaler()
    scaled_X = scaler.fit_transform(X)

    X = pd.DataFrame(scaled_X)

    return X, y

In [135]:
X, y = preprocess_df(df)


X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.8, shuffle=True)

model = LogisticRegression()

{'wa': 0, 'wi': 1}

In [ ]:
from pycaret.classification import *

df = pd.concat([X, y], axis=1)

setup

In [136]:
X

             0         1         2         3    4
0     0.622222  1.000000  1.000000  1.000000  1.0
1     0.822222  0.980549  0.982419  0.914394  0.0
2     0.744444  0.898169  0.885373  0.839569  0.0
3     0.866667  0.893593  0.898734  0.812936  0.0
4     0.544444  0.887872  0.497665  0.485831  1.0
...        ...       ...       ...       ...  ...
8548  0.725464  0.000000  0.497665  0.485831  1.0
8549  0.822222  0.000000  0.398734  0.384274  0.0
8550  0.800000  0.000000  0.464135  0.421687  1.0
8551  0.900000  0.000000  0.497665  0.485831  1.0
8552  0.688889  0.000000  0.497665  0.485831  1.0

[8553 rows x 5 columns]

In [137]:
df.isnull().sum()

Fide id               0
Name                  0
Federation            0
Gender                0
Year_of_birth       292
Title              5435
Standard_Rating       0
Rapid_rating       4945
Blitz_rating       5081
Inactive_flag      2701
dtype: int64

In [138]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8553 entries, 0 to 8552
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Fide id          8553 non-null   int64
 1   Name             8553 non-null   object
 2   Federation       8553 non-null   object
 3   Gender           8553 non-null   object
 4   Year_of_birth    8261 non-null   float64
 5   Title            3118 non-null   object
 6   Standard_Rating  8553 non-null   int64
 7   Rapid_rating     3608 non-null   float64
 8   Blitz_rating     3472 non-null   float64
 9   Inactive_flag    5852 non-null   object
dtypes: float64(3), int64(2), object(5)
memory usage: 668.3+ KB

In [139]:
df["Inactive_flag"].unique()

array(['wi', nan], dtype=object)

In [140]:
df["Federation"].unique()

array(['HUN', 'CHN', 'IND', 'RUS', 'UKR', 'LTU', 'GEO', 'KAZ', 'IRI',
       'GER', 'SWE', 'BUL', 'TUR', 'GRE', 'AZE', 'FRA', 'ROU', 'USA',
       'MGL', 'POL', 'BLR', 'QAT', 'ESP', 'ENG', 'INA', 'ARM', 'CZE',
       'PER', 'SRB', 'NED', 'SCO', 'UZB', 'ITA', 'CUB', 'VIE', 'ECU',
       'AUS', 'ARG', 'CRO', 'SVK', 'SGP', 'ISR', 'LUX', 'SLO', 'EST',
       'CAN', 'LAT', 'AUT', 'SUI', 'MNC', 'MDA', 'BRA', 'BEL', 'COL',
       'PHI', 'PAR', 'BRU', 'MEX', 'BIH', 'MAS', 'NOR', 'MNE', 'TKM',
       'IRL', 'VEN', 'EGY', 'IRQ', 'FIN', 'BOL', 'DEN', 'MKD', 'KGZ',
       'ESA', 'CHI', 'RSA', 'FID', 'UAE', 'LBN', 'MYA', 'ISL', 'BAN',
       'POR', 'KSA', 'NAM', 'URU', 'ALG', 'WLS', 'PUR', 'ALB', 'KOR',
       'TJK', 'SRI', 'JAM', 'ANG', 'NGR', 'BAR', 'BER', 'ZIM', 'BOT',
       'JPN', 'DOM', 'CRC', 'SYR', 'GUA', 'SEY', 'JOR', 'NZL', 'MAR',
       'MAC', 'TTO', 'NCA', 'ZAM', 'PAN', 'THA', 'GCI', 'AHO', 'HKG',
       'MLT', 'HON', 'LBA', 'SUR', 'UGA', 'CPV', 'MAD'], dtype=object)