In [270]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("vbmokin/dissolved-oxygen-prediction-in-river-water")

print("Path to dataset files:", path)

Path to dataset files: /Users/jeongho/.cache/kagglehub/datasets/vbmokin/dissolved-oxygen-prediction-in-river-water/versions/1

In [271]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import os

df = pd.read_csv(os.path.join(path, "train.csv"))

In [272]:
df.isna().sum()

Id          0
target      0
O2_1        2
O2_2        2
O2_3      115
O2_4      116
O2_5      114
O2_6      110
O2_7      110
NH4_1       2
NH4_2       2
NH4_3     115
NH4_4     116
NH4_5     114
NH4_6     110
NH4_7     110
NO2_1       2
NO2_2       2
NO2_3     115
NO2_4     116
NO2_5     114
NO2_6     110
NO2_7     110
NO3_1       2
NO3_2       2
NO3_3     115
NO3_4     116
NO3_5     114
NO3_6     110
NO3_7     110
BOD5_1      2
BOD5_2      2
BOD5_3    115
BOD5_4    116
BOD5_5    114
BOD5_6    110
BOD5_7    110
dtype: int64

In [273]:
null_columns = list(df.columns[(df.isna().sum() > 100)])

df1 = df.drop(null_columns, axis=1)

In [274]:
df1.isna().sum()

Id        0
target    0
O2_1      2
O2_2      2
NH4_1     2
NH4_2     2
NO2_1     2
NO2_2     2
NO3_1     2
NO3_2     2
BOD5_1    2
BOD5_2    2
dtype: int64

In [275]:
(df1.isna().sum(axis=0) != 0).sum()

"""
   Col1  Col2  Col3  Col4
0   1    NaN   3    NaN    <- Row 1 has nulls
1   4     5    6     7
2   8    NaN   10   NaN    <- Row 2 has nulls
3   11   NaN   13   NaN    <- Row 3 has nulls

"""

'\n   Col1  Col2  Col3  Col4\n0   1    NaN   3    NaN    <- Row 1 has nulls\n1   4     5    6     7\n2   8    NaN   10   NaN    <- Row 2 has nulls\n3   11   NaN   13   NaN    <- Row 3 has nulls\n\n'

In [276]:
(df1.isna().sum(axis=1) != 0).sum()

3

In [277]:
null_columns = list(df1.columns[df1.isna().sum() > 100])

In [278]:
df2 = df1.drop(null_columns, axis=1)

In [279]:
df2.isna().sum()

Id        0
target    0
O2_1      2
O2_2      2
NH4_1     2
NH4_2     2
NO2_1     2
NO2_2     2
NO3_1     2
NO3_2     2
BOD5_1    2
BOD5_2    2
dtype: int64

In [280]:
(df2.isna().sum(axis=1) != 0).sum()
(df2.isna().sum(axis=0) != 0).sum()

10

In [281]:
print(f"Number of rows containing null values: {(df2.isna().sum(axis=1) != 0).sum()}")
print(
    f"Number of columns containing null values: {(df2.isna().sum(axis=0) != 0).sum()}"
)

Number of rows containing null values: 3
Number of columns containing null values: 10

In [282]:
df3 = df2.dropna(axis=0)

In [283]:
df3.isna().sum()

Id        0
target    0
O2_1      0
O2_2      0
NH4_1     0
NH4_2     0
NO2_1     0
NO2_2     0
NO3_1     0
NO3_2     0
BOD5_1    0
BOD5_2    0
dtype: int64

In [284]:
df4 = df3.drop(["Id"], axis=1)

In [285]:
y = df4["target"]
X = df4.drop(["target"], axis=1)

In [286]:
X

       O2_1   O2_2  NH4_1  NH4_2   NO2_1   NO2_2  NO3_1  NO3_2  BOD5_1  BOD5_2
0     9.875   9.20  0.690  1.040  0.0940  0.0990   1.58  1.825    4.80   5.850
1    10.300  10.75  0.710  0.725  0.0585  0.0515   1.21  0.905    5.88   6.835
2     8.290   7.90  2.210  2.210  0.1000  0.1100   1.34  1.250    3.20   2.700
3     8.820   6.80  0.595  0.675  0.0460  0.0535   0.59  0.790    7.70   7.055
4     6.000   6.50  0.600  0.900  0.1800  0.3400   1.36  1.820    5.50   5.300
..      ...    ...    ...    ...     ...     ...    ...    ...     ...     ...
142   7.700   7.50  0.380  1.900  0.6200  0.0640   2.80  3.330    5.00   5.800
143   6.300   5.65  0.370  0.500  0.6900  0.9500   4.37  3.160    8.00   8.000
144   8.600  11.00  2.400  3.600  0.1500  0.1400   0.53  3.000    6.80   7.200
145   9.600  14.10  0.310  0.500  0.2100  0.0800   3.10  3.500    5.20   7.800
146   6.500   7.70  0.190  0.260  0.1300  0.0720   0.00  0.000    3.40   4.100

[144 rows x 10 columns]

In [287]:
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import PowerTransformer

scaler = StandardScaler()
q_scaler = PowerTransformer()
scaled_X = scaler.fit_transform(X)
q_scaled_X = q_scaler.fit_transform(X)

pd.DataFrame(q_scaled_X, columns=X.columns)

,O2_1,O2_2,NH4_1,NH4_2,NO2_1,NO2_2,NO3_1,NO3_2,BOD5_1,BOD5_2
0,0.425462,0.197201,0.582635,0.971205,0.269592,0.319885,-0.440337,-0.428021,0.006209,0.522629
1,0.544547,0.663001,0.623522,0.501471,-0.401798,-0.598370,-0.696229,-1.095671,0.513850,0.967304
2,-0.072976,-0.262286,1.997515,1.810066,0.362592,0.483744,-0.601366,-0.816648,-0.847650,-1.148793
3,0.104262,-0.717024,0.370143,0.407296,-0.697743,-0.551446,-1.251361,-1.198934,1.282423,1.063045
4,-1.006411,-0.854164,0.382142,0.785270,1.221232,1.972354,-0.587279,-0.431078,0.340347,0.261508
...,...,...,...,...,...,...,...,...,...,...
139,-0.284981,-0.419650,-0.255041,1.664881,2.120797,-0.318377,0.185812,0.324063,0.103738,0.499299
140,-0.864859,-1.280426,-0.290372,0.017883,2.137578,2.338861,0.728598,0.252238,1.400704,1.461286
141,0.032105,0.731384,2.067546,2.187739,0.968061,0.860436,-1.317192,0.182167,0.914148,1.125493
142,0.345421,1.462264,-0.517102,0.017883,1.416746,-0.002360,0.306388,0.393376,0.199578,1.378668
143,-0.774277,-0.339912,-1.061115,-0.732008,0.758022,-0.154812,-2.058888,-2.135809,-0.732525,-0.347439

In [288]:
from sklearn.model_selection import train_test_split


X_train, X_test, y_train, y_test = train_test_split(scaled_X, y, train_size=0.7)

In [291]:
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.neighbors import KNeighborsRegressor
from sklearn.neural_network import MLPRegressor
from xgboost import XGBRegressor

from sklearn.metrics import mean_squared_error, mean_absolute_error

LR = LinearRegression()
DTR = DecisionTreeRegressor()
RFR = RandomForestRegressor()
KNR = KNeighborsRegressor()
MLP = MLPRegressor()
XGB = XGBRegressor()


models = [LR, DTR, RFR, KNR, KNR, XGB]
result = []

for model in models:
    model.fit(X_train, y_train)
    r2score = model.score(X_test, y_test)
    print(model, ":", r2score)
    #    y_pred = model.predict(X_test)
    #    rmse = np.sqrt(mean_squared_error(y_test, y_pred))
    #    print(model, ":", rmse)

    result.append((model, r2score))

LinearRegression() : 0.4689967944676089
DecisionTreeRegressor() : 0.32545186191777353
RandomForestRegressor() : 0.639000593988786
KNeighborsRegressor() : 0.3773443619402673
KNeighborsRegressor() : 0.3773443619402673
XGBRegressor(base_score=None, booster=None, callbacks=None,
             colsample_bylevel=None, colsample_bynode=None,
             colsample_bytree=None, device=None, early_stopping_rounds=None,
             enable_categorical=False, eval_metric=None, feature_types=None,
             gamma=None, grow_policy=None, importance_type=None,
             interaction_constraints=None, learning_rate=None, max_bin=None,
             max_cat_threshold=None, max_cat_to_onehot=None,
             max_delta_step=None, max_depth=None, max_leaves=None,
             min_child_weight=None, missing=nan, monotone_constraints=None,
             multi_strategy=None, n_estimators=None, n_jobs=None,
             num_parallel_tree=None, random_state=None, ...) : 0.5136872794653518

In [292]:
y.mean()

9.145763888888888

In [295]:
y_new = pd.qcut(y, q=2, labels=[0, 1])

In [309]:
sum(y_new) / len(y_new)  # balance so it's okay to use accuracy

0.5

In [300]:
X_train, X_test, y_train, y_test = train_test_split(scaled_X, y_new, train_size=0.7)

In [304]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.neural_network import MLPClassifier
from xgboost import XGBClassifier

from sklearn.metrics import accuracy_score, f1_score, balanced_accuracy_score

DTR = DecisionTreeClassifier()
RFR = RandomForestClassifier()
KNR = KNeighborsClassifier()
MLP = MLPClassifier()
XGB = XGBClassifier()

models = [DTR, RFR, KNR, KNR, XGB]
result = []
d = {}

for model in models:
    model.fit(X_train, y_train)
    y_pred = model.predict(X_test)
    accuracy = accuracy_score(y_test, y_pred)
    f1 = f1_score(y_test, y_pred)
    ba = balanced_accuracy_score(y_test, y_pred)
    print(model, "=> Accuracy: ", accuracy, "F1: ", f1, "BA:", "ba")
    result.append((model, accuracy))

DecisionTreeClassifier() => Accuracy:  0.6818181818181818 F1:  0.6818181818181818 BA: ba
RandomForestClassifier() => Accuracy:  0.7727272727272727 F1:  0.7619047619047619 BA: ba
KNeighborsClassifier() => Accuracy:  0.7045454545454546 F1:  0.6976744186046512 BA: ba
KNeighborsClassifier() => Accuracy:  0.7045454545454546 F1:  0.6976744186046512 BA: ba
XGBClassifier(base_score=None, booster=None, callbacks=None,
              colsample_bylevel=None, colsample_bynode=None,
              colsample_bytree=None, device=None, early_stopping_rounds=None,
              enable_categorical=False, eval_metric=None, feature_types=None,
              gamma=None, grow_policy=None, importance_type=None,
              interaction_constraints=None, learning_rate=None, max_bin=None,
              max_cat_threshold=None, max_cat_to_onehot=None,
              max_delta_step=None, max_depth=None, max_leaves=None,
              min_child_weight=None, missing=nan, monotone_constraints=None,
              multi_strategy=None, n_estimators=None, n_jobs=None,
              num_parallel_tree=None, random_state=None, ...) => Accuracy:  0.8409090909090909 F1:  0.8444444444444444 BA: ba