In [1]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("arslanali4343/top-personality-dataset")

print("Path to dataset files:", path)

/Users/jeongho/Desktop/w25536-kaggle/kaggle/lib/python3.9/site-packages/urllib3/__init__.py:35: NotOpenSSLWarning: urllib3 v2 only supports OpenSSL 1.1.1+, currently the 'ssl' module is compiled with 'LibreSSL 2.8.3'. See: https://github.com/urllib3/urllib3/issues/3020
  warnings.warn(

Warning: Looks like you're using an outdated `kagglehub` version, please consider updating (latest version: 0.3.6)
Path to dataset files: /Users/jeongho/.cache/kagglehub/datasets/arslanali4343/top-personality-dataset/versions/1

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import os

df = pd.read_csv(os.path.join(path, "2018-personality-data.csv"))

In [3]:
df.head()

,userid,openness,agreeableness,emotional_stability,conscientiousness,extraversion,assigned metric,assigned condition,movie_1,predicted_rating_1,...,movie_9,predicted_rating_9,movie_10,predicted_rating_10,movie_11,predicted_rating_11,movie_12,predicted_rating_12,is_personalized,enjoy_watching
0,8e7cebf9a234c064b75016249f2ac65e,5.0,2.0,3.0,2.5,6.5,serendipity,high,77658,4.410466,...,120138,4.244817,121372,4.396004,127152,4.120456,95311,4.053847,4,4
1,77c7d756a093150d4377720abeaeef76,7.0,4.0,6.0,5.5,4.0,all,default,94959,4.207280,...,56782,4.019599,5618,3.963953,969,4.174188,1232,4.334877,2,3
2,b7e8a92987a530cc368719a0e60e26a3,4.0,3.0,4.5,2.0,2.5,serendipity,medium,110501,4.868064,...,2288,4.823212,3307,4.676756,1172,4.649281,1212,4.744990,2,2
3,92561f21446e017dd6b68b94b23ad5b7,5.5,5.5,4.0,4.5,4.0,popularity,medium,2905,4.526371,...,3030,4.425689,1281,4.479921,940,4.355061,905,4.317927,3,3
4,030001ac2145a938b07e686a35a2d638,5.5,5.5,3.5,4.5,2.5,popularity,medium,2905,4.526371,...,3030,4.425689,1281,4.479921,940,4.355061,905,4.317927,2,3

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1834 entries, 0 to 1833
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0    openness             1834 non-null   float64
 1    agreeableness        1834 non-null   float64
 2    emotional_stability  1834 non-null   float64
 3    conscientiousness    1834 non-null   float64
 4    extraversion         1834 non-null   float64
 5    assigned metric      1834 non-null   object
 6    assigned condition   1834 non-null   int64
 7    is_personalized      1834 non-null   int64
 8    enjoy_watching       1834 non-null   int64
dtypes: float64(5), int64(3), object(1)
memory usage: 129.1+ KB

In [15]:
df.isna().sum()

openness               0
agreeableness          0
emotional_stability    0
conscientiousness      0
extraversion           0
assigned metric        0
assigned condition     0
is_personalized        0
enjoy_watching         0
dtype: int64

In [6]:
for col in list(df.select_dtypes(object).columns):
    print({col: df[col].unique()})

{'userid': array(['8e7cebf9a234c064b75016249f2ac65e',
       '77c7d756a093150d4377720abeaeef76',
       'b7e8a92987a530cc368719a0e60e26a3', ...,
       'a06386edadf3bc614dadb7044708c46c',
       'bad56d9506832cd79d874a6b66b3d813',
       '721ea658e148fc0f76ddd6e2b0e02422'], dtype=object)}
{' assigned metric': array([' serendipity', ' all', ' popularity', ' diversity'], dtype=object)}
{' assigned condition': array([' high', ' default', ' medium', ' low'], dtype=object)}

In [7]:
def preprocess_inputs(df):

    df.copy()

    df = df.drop(
        [
            "userid",
            " movie_1",
            " predicted_rating_1",
            " movie_2",
            " predicted_rating_2",
            " movie_3",
            " predicted_rating_3",
            " movie_4",
            " predicted_rating_4",
            " movie_5",
            " predicted_rating_5",
            " movie_6",
            " predicted_rating_6",
            " movie_7",
            " predicted_rating_7",
            " movie_8",
            " predicted_rating_8",
            " movie_9",
            " predicted_rating_9",
            " movie_10",
            " predicted_rating_10",
            " movie_11",
            " predicted_rating_11",
            " movie_12",
            " predicted_rating_12",
        ],
        axis=1,
    )

    df[" assigned condition"] = df[" assigned condition"].map(
        {" low": 0, " medium": 1, " default": 2, " high": 3}
    )

    return df

In [11]:
df = preprocess_inputs(df)

In [12]:
df.columns

Index([' openness', ' agreeableness', ' emotional_stability',
       ' conscientiousness', ' extraversion', ' assigned metric',
       ' assigned condition', ' is_personalized', ' enjoy_watching '],
      dtype='object')

     assigned metric
0        serendipity
1                all
2        serendipity
3         popularity
4         popularity
...              ...
1829      popularity
1830     serendipity
1831     serendipity
1832     serendipity
1833      popularity

[1834 rows x 1 columns]

In [3]:
import numpy as np

numbers = [1, 2, 3]
result = np.sqrt(numbers)
print(result)

[1.         1.41421356 1.73205081]