In [81]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("crawford/80-cereals")

print("Path to dataset files:", path)

Path to dataset files: /Users/jeongho/.cache/kagglehub/datasets/crawford/80-cereals/versions/2

In [82]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import os

df = pd.read_csv(os.path.join(path, "cereal.csv"))

In [83]:
df = df.drop(["name"], axis=1)

In [84]:
# binary encode
df["type"] = df["type"].replace({"C": 0, "H": 1})

/var/folders/v7/tlyx9w190ks2gfgzd_j0l5c80000gn/T/ipykernel_70863/932868930.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['type'] = df['type'].replace({'C': 0, 'H':1})

In [85]:
def onehot_encode(df, column):
    dummies = pd.get_dummies(df[column], dtype=int)
    df = pd.concat([df, dummies], axis=1)
    df = df.drop(column, axis=1)
    return df


df = onehot_encode(df, "mfr")

In [86]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77 entries, 0 to 76
Data columns (total 21 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   type      77 non-null     int64
 1   calories  77 non-null     int64
 2   protein   77 non-null     int64
 3   fat       77 non-null     int64
 4   sodium    77 non-null     int64
 5   fiber     77 non-null     float64
 6   carbo     77 non-null     float64
 7   sugars    77 non-null     int64
 8   potass    77 non-null     int64
 9   vitamins  77 non-null     int64
 10  shelf     77 non-null     int64
 11  weight    77 non-null     float64
 12  cups      77 non-null     float64
 13  rating    77 non-null     float64
 14  A         77 non-null     int64
 15  G         77 non-null     int64
 16  K         77 non-null     int64
 17  N         77 non-null     int64
 18  P         77 non-null     int64
 19  Q         77 non-null     int64
 20  R         77 non-null     int64
dtypes: float64(5), int64(16)
memory usage: 12.8 KB

In [87]:
y = df["rating"]
X = df.drop(["rating"], axis=1)

In [88]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(
    X, y, train_size=0.7, random_state=42
)

In [89]:
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import *
from sklearn.neighbors import KNeighborsRegressor
from sklearn.neural_network import *
from sklearn.tree import *
from xgboost import XGBRegressor


LR = LinearRegression()
DTR = DecisionTreeRegressor()
RFR = RandomForestRegressor()
KNR = KNeighborsRegressor()
MLP = MLPRegressor()
XGB = XGBRegressor()

In [90]:
models = [LR, DTR, RFR, KNR, KNR, XGB]
result = []
d = {}
for model in models:
    model.fit(X_train, y_train)
    r2_score = model.score(X_test, y_test)
    print(model, ":", r2_score)
    result.append((model, r2_score))

LinearRegression() : 0.9999999999999993
DecisionTreeRegressor() : 0.5425705963375649
RandomForestRegressor() : 0.7859891960209286
KNeighborsRegressor() : 0.251978691444407
KNeighborsRegressor() : 0.251978691444407
XGBRegressor(base_score=None, booster=None, callbacks=None,
             colsample_bylevel=None, colsample_bynode=None,
             colsample_bytree=None, device=None, early_stopping_rounds=None,
             enable_categorical=False, eval_metric=None, feature_types=None,
             gamma=None, grow_policy=None, importance_type=None,
             interaction_constraints=None, learning_rate=None, max_bin=None,
             max_cat_threshold=None, max_cat_to_onehot=None,
             max_delta_step=None, max_depth=None, max_leaves=None,
             min_child_weight=None, missing=nan, monotone_constraints=None,
             multi_strategy=None, n_estimators=None, n_jobs=None,
             num_parallel_tree=None, random_state=None, ...) : 0.700593949307747

In [99]:
linear_model = LinearRegression()

linear_model.fit(X_train, y_train)

y_pred = linear_model.predict(X_test)

In [100]:
pd.DataFrame(y_pred, columns=["rating"])

       rating
0   34.384843
1   21.871292
2   18.042851
3   68.402973
4   34.139764
5   40.105965
6   31.230054
7   41.503540
8   59.642837
9   41.015492
10  59.363994
11  49.787445
12  22.396513
13  19.823573
14  39.259197
15  53.371007
16  53.313813
17  29.509541
18  45.811716
19  36.176196
20  35.252444
21  39.241114
22  36.471512
23  45.863325