In [7]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("tysonpo/university-salaries")

print("Path to dataset files:", path)

Path to dataset files: /Users/jeongho/.cache/kagglehub/datasets/tysonpo/university-salaries/versions/1

In [10]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import os

df = pd.read_csv("/Users/jeongho/Desktop/w25536-kaggle/csv/salaries_final.csv")


df

,Year,Name,Primary Job Title,Base Pay,Department,College
0,2010,"Abaied, Jamie L.",Assistant Professor,64000.0,Department of Psychological Science,CAS
1,2011,"Abaied, Jamie L.",Assistant Professor,64000.0,Department of Psychological Science,CAS
2,2012,"Abaied, Jamie L.",Assistant Professor,65229.0,Department of Psychological Science,CAS
3,2013,"Abaied, Jamie L.",Assistant Professor,66969.0,Department of Psychological Science,CAS
4,2014,"Abaied, Jamie L.",Assistant Professor,68658.0,Department of Psychological Science,CAS
...,...,...,...,...,...,...
14465,2016,"van der Vliet, Albert",Professor,163635.0,Department of Pathology&Laboratory Medicine,COM
14466,2017,"van der Vliet, Albert",Professor,175294.0,Department of Pathology&Laboratory Medicine,COM
14467,2018,"van der Vliet, Albert",Professor,191000.0,Department of Pathology&Laboratory Medicine,COM
14468,2019,"van der Vliet, Albert",Professor,196000.0,Department of Pathology&Laboratory Medicine,COM
14469,2020,"van der Vliet, Albert",Professor,186200.0,Department of Pathology&Laboratory Medicine,COM

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14470 entries, 0 to 14469
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Year               14470 non-null  int64
 1   Name               14470 non-null  object
 2   Primary Job Title  14470 non-null  object
 3   Base Pay           14470 non-null  float64
 4   Department         14470 non-null  object
 5   College            14470 non-null  object
dtypes: float64(1), int64(1), object(4)
memory usage: 678.4+ KB

In [12]:
df = df.drop(["Name"], axis=1)

In [23]:
def onehot_encode(df, column):
    df = df.copy()
    dummies = pd.get_dummies(df[column], dtype=int)
    df = pd.concat([dummies, df], axis=1)
    df = df.drop(column, axis=1)
    return df


def preprocess_input(df):
    df = df.copy()

    y = df["Base Pay"]
    X = df.drop(["Base Pay"], axis=1)

    X = onehot_encode(X, "Primary Job Title")
    X = onehot_encode(X, "Department")
    X = onehot_encode(X, "College")

    return X, y

In [24]:
X, y = preprocess_input(df)

In [25]:
X

,Business,CALS,CAS,CEMS,CESS,CNHS,COM,Department of Ext,LCOMEO,Learning and Info Tech,...,Student/Academic Srvcs Manager,Technical Support Generalist,Technical Support Specialist,UVM State Relations Officer,VP Research,Vice Pres for Enrollment Mgmnt,Visiting Assistant Prof,Visiting Instructor,Visiting Lecturer,Year
0,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2010
1,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2011
2,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2012
3,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2013
4,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2014
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14465,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,2016
14466,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,2017
14467,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,2018
14468,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,2019
14469,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,2020

SyntaxError: invalid syntax (1783250155.py, line 1)